<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="flex items-center justify-center">
        <div class="w-full h-screen p-8">
          <h1 class="text-7xl font-bold text-center text-black mb-8 border-b-4 border-red-600 pb-8">Welcome To HTF 2.0</h1>
  
          <section class="text-black">
            <h2 class="text-5xl font-bold mb-6 pb-8">About PS1 Solution by Coders Dungeon</h2>
            <p class="mb-4 text-3xl">
              Coders Dungeon presents a solution for PS1 using advanced machine learning techniques.
            </p>
            <p class="mb-4 text-3xl">
              We employ Hashing techniques to anonymize personal details of users, ensuring privacy and data security.
            </p>
            <p class="mb-4 text-3xl">
              K Means Clustering is utilized to organize and cluster the datasets, providing valuable insights into user behavior and preferences.
            </p>
            <p class="mb-4 text-3xl">
              To assess the accuracy of each dataset, we leverage RandomForest, a powerful algorithm for classification and regression tasks.
            </p>
          </section>
        </div>
      </div>
</body>
</html>
